@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-900.woff") format("woff");
}


body {
    font-family: "Lato", sans-serif;
  }

.header {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 89px;
    margin: 0 auto;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }
  
  .navigation {
    display: flex;
    color: #ffffff;
    line-height: 9px;
    margin-top: 45px;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
  }
  
  .navigation__item {
    position: relative;
  }
  
  .navigation__item:first-child {
    color: #f06c64;
  }
  
  .navigation__item:nth-child(2) {
    margin-left: 30px;
    letter-spacing: -0.168px;
  }
  
  .navigation__item:nth-child(5) {
    letter-spacing: -0.19px;
  }
  
  .navigation__item + .navigation__item {
    margin-left: 29px;
  }
  
  .navigation__item + .navigation__item::before {
    position: absolute;
    left: -16px;
    bottom: 3px;
    content: ".";
    color: #494e62;
  }

  .logotype {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.475px;
    margin: 34px 0 35px 40px;
    line-height: 20px;
    font-weight: 700;
  }
  
  .logotype::after {
    content: "*";
    color: #f06c64;
  }
  

