/* FONTS */
@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-900.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
}

.title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: -0.01em;
}

.subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.selector__item {
  float: left;
  padding: 0 6px 0 6px;
  margin-right: 10px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #666d89;
  background-color: #2d303a;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.selector__item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #767e9e;
  transition: all 300ms;
}

.selector__item:active {
  opacity: 0.5;
}

.selector__item:focus {
  color: #dedede;
  outline: none;
  border: 1px solid #c5c5c5;
}





/* PORTFOLIO SECTION */

.portfolioSection__subtitle {
  padding: 27px 0 11px 0;
}

.portfolioSection {
  width: 100%;
  min-height: 864px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.portfolioSection__content {
  margin: 0 auto;
  width: 940px;
}

.portfolioSection__title {
  padding-top: 69px;
}

.portfolioSection__images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -1px;
}

.portfolioSection__example {
  padding-top: 17px;
  padding-bottom: 3px;
  width: 220px;
  height: 187px;
}
.portfolioSection__selector {
  padding-left: 1px;
  display: inline-block;
}


/* ABOUT SECTION */
/* ICONS */
.iconFb {
  background-image: url(assets/iconFb.png);
}

.iconGoogle {
  background-image: url(assets/iconGoogle.png);
}

.iconTwitter {
  background-image: url(assets/iconTwitter.png);
}

.iconLinkedin {
  background-image: url(assets/iconLinkedin.png);
}

.aboutSection {
  width: 100%;
  min-height: 728px;
  border-bottom: 6px solid white;
  background-color: #f2f2f2;
}

.aboutSection__content {
  margin: 0 auto;
  width: 940px;
}

.aboutSection__title {
  padding-top: 68px;
}

.aboutSection__subtitle {
  padding: 27px 0 45px 0;
}

.aboutSection__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutSection__item {
  width: 300px;
}

.aboutSection__name {
  padding: 14px 0 10px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: -0.01em;
  color: #666d89;
  font-family: "Lato", sans-serif;
}

.aboutSection__description {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  text-align: left;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.aboutSection__socialIcons>div:hover {
  cursor: pointer;
  opacity: 0.8;
}

.aboutSection__socialIcons>div:active {
  opacity: 0.5;
}


.aboutSection__socialIcons {
  padding-top: 24px;
}

.aboutSection__socialIcons>div {
  float: left;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: all 300ms;
  border: 1px solid #666d89;
}



